@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

.SingleMessage {
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 75%);
  -webkit-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 75%);
  cursor: pointer;
  background-color: $secondColor;

  > * {
    padding: 5px 15px;
    text-transform: capitalize;
  }

  &__Message {
    font-family: "Square Peg", cursive;
    font-size: 30px;
    font-weight: bold;
  }

  &__Header {
    background-color: $lowOpacity;
    color: $mainColor;
    margin: 0;
    border-radius: 10px 10px 0 0;
    @include flex($justify: space-between);
  }
}
