@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.NewMessageForm {
  padding: 20px;
  background-color: $secondColor;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  &__title{
    color: $mainColor;
    margin-top: 0;
    text-decoration: underline;
  }

  form {
    @include flex();
    label{
      font-weight: 500;
      color: $mainColor;
    }
  }

  &__mainForm {
    width: 100%;
  }

  &__inputGroup {
    @include flex($justify: space-between);
    margin: 5px 0;

    input, textarea {
      width: 100%;
      resize: none;
      background-color: $lowOpacity;
      border: none;
      border-radius: 5px;
      padding: 10px;
    }
  }
  &__submitBtn, &__backBtn {
    @include btnStyle;
  }
}