@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.ActionsLayout {
  height: 100vh;
  overflow: hidden;
  > * {
    padding: 30px;
  }
  &__Navbar {

    @include mainBgStyle;
  
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
}
